<!--
 * Content is enclosed in <div id="app-content-wrapper"><div id="app-screen"></div></div>
 * Subhead: is added by add-custom-data.php in the theme's php folder / It expects that the post has a subhead custom field
 * Handler for image loading error: displayDefaultImage() added in functions.js as a template's parameter
-->

<div id="content" class="content list-template">
	<div id="filter-form" style="display: none">
		<input type="text" value="<%= current_search.search_string %>" id="search_string" placeholder="Mots à rechercher...">
		<select id="agenda_cat">
			<option value="">Choisir une catégorie</option>
			<% _.each( agenda_cats, function( agenda_cat ) { %>
				<option value="<%= agenda_cat.slug %>" <% print( current_search.agenda_cat_slug === agenda_cat.slug ? 'selected' : '' ) %> ><%= agenda_cat.name %></option>
			<% } ); %>
		</select>
		<select id="agenda_city">
			<option value="">Choisir une ville</option>
			<% _.each( agenda_cities, function( agenda_city ) { %>
				<option value="<%= agenda_city.slug %>" <% print( current_search.agenda_city_slug === agenda_city.slug ? 'selected' : '' ) %> ><%= agenda_city.name %></option>
			<% } ); %>
		</select>
		
		<input type="date" id="nova_agenda_start_date" name="nova_agenda_start_date" placeholder="Date de début" value="<%= current_search.agenda_start_date_string %>"/>
		
		<input type="date" id="nova_agenda_end_date" name="nova_agenda_end_date" placeholder="Date de fin" value="<%= current_search.agenda_end_date_string %>"/>
		
		<a href="#" id="go-filter">Rechercher</a>
	</div>

	<% if(posts.length){ %>

		<% _.each( posts, function( post ){ %>

			<div class="content-item">
				<a href="<%= TemplateTags.getPostLink(post.id) %>">

                    <% if ( post.subhead ) { %>

                        <div class="subhead"><%= post.subhead %></div>

                    <% } %>

					<h2>
						<span><%= post.title %></span>
						<ul class="post-meta">
							<li class="nova_agenda_date">
								<%= post.nova_agenda_start_date %> <% if (post.nova_agenda_end_date) { %> au <%= post.nova_agenda_end_date %><% } %>
							</li>
						</ul>
					</h2>
                        
                    <% if(  post.thumbnail && post.thumbnail.src && post.thumbnail.src.length ){ %>

                        <img class="content-thumbnail" src="<%= post.thumbnail.src %>" onerror="displayDefaultImage(this);" />

                    <% } %>	
                    
                        
				</a>
			</div>

		<% }); %>

        <% if( TemplateTags.displayGetMoreLink() ){ %>
			<div class="get-more-button-wrapper">
                <button type="button" id="get-more-button" class="get-more-button">Plus d'événements (<%= TemplateTags.getMoreLinkNbLeft() %>)</button>
            
            </div>
		<% } %>
            
	<% }else{ %>
		<div class='content-message'>Aucun événement trouvé :(</div>
	<% } %>
        
</div>