<!--
 * Layout is enclosed in <div id="app-layout"></div>
-->

<!--
 * Menu is enclosed in <div id="app-menu"></div>
-->
<%= menu %>

<div id="app-canvas">

    <div id="app-header" class="app-header">
        <div id="menu-button" class="menu-button"></div>
        <div id="back-button" class="back-button" style="display:none;"></div>
        <div id="search-button" class="search-button"></div>
        <div id="refresh-button" class="refresh-off"></div>
        <h1></h1>
    </div>

    <div id="app-message-bar" class="app-message-bar">message</div>

    <!--
     * Content is enclosed in <div id="app-content-wrapper"><div class="app-screen"></div></div>
    -->
    <%= content %>
    
    <div id="pull-to-refresh-wrapper" class="pull-to-refresh-wrapper">
    
        <div id="pull-to-refresh-arrow" class="pull-to-refresh-arrow">
            <img src="<%= TemplateTags.getThemeAssetUrl('img/pull-to-refresh-icon.svg') %>"/>
        </div>
        <div id="pull-to-refresh-message" class="pull-to-refresh-message">Vérification du nouveau contenu...</div>
        
    </div>
        
    <div id="app-toolbar">
        <div id="comments-button" class="comments-button"></div>
        <div id="calendar-button" class="calendar-button">Ajouter</div>
        <div id="share-button" class="share-button"></div>
    </div>
        
    <div id="slideup-panel">
        <div id="panel-header" class="panel-header">
            <div id="close-panel-button" class="close-panel-button"></div>
            <h1>Comments</h1>
        </div>
        <div id="panel-content" class="panel-content"></div>
    </div>
        
</div>