<!--
 * Content is enclosed in <div id="app-content-wrapper"><div id="app-screen"></div></div>
 * Subhead: is added by add-custom-data.php in the theme's php folder / It expects that the post has a subhead custom field
 * Custom post date: getCustomDate() added in functions.js as a template's parameter
 * Handler for image loading error: displayDefaultImage() added in functions.js as a template's parameter
 * Last posts collection : lastPosts added in functions.js as a template parameter
-->

<div id="content" class="content single-template">
	<script type="text/javascript">
    var map;
    document.addEventListener("deviceready", function() {
      var div = document.getElementById("map_canvas");

      // Initialize the map view
      map = plugin.google.maps.Map.getMap(div);

      // Wait until the map is ready status.
      map.addEventListener(plugin.google.maps.event.MAP_READY, onMapReady);
    }, false);

    function onMapReady() {
      var button = document.getElementById("button");
      button.addEventListener("click", onBtnClicked, false);
    }

    function onBtnClicked() {
      map.showDialog();
    }
    </script>
	<% if(  post.thumbnail && post.thumbnail.src && post.thumbnail.src.length ){ %>

        <img class="post-thumbnail" src="<%= post.thumbnail.src %>" onerror="displayDefaultImage(this);" />
        
        <% if (post.thumbnail.caption) { %>
            <div class="post-thumbnail-caption"><%= post.thumbnail.caption %></div>
        <% } %>

    <% } %>	
    
    <div class="post-title">

        <% if ( post.subhead ) { %>

            <div class="subhead"><%= post.subhead %></div>

        <% } %>
        
        <h1>
            <%= post.title %>
        </h1>

        <div class="post-meta">
        	<ul>
				<li class="nova_agenda_date"><%= post.nova_agenda_start_date %> <% if (post.nova_agenda_end_date) { %> au <%= post.nova_agenda_end_date %><% } %></li>
				<% if(post.nova_agenda_time) { %><li class="nova_agenda_time"><%= post.nova_agenda_time %></li><% } %>
				<% if (post.nova_agenda_duration) { %><li class="nova_agenda_duration"><%= post.nova_agenda_duration %></li><% } %>
				<% if (post.nova_agenda_prices) { %><li class="nova_agenda_prices"><%= post.nova_agenda_prices %></li><% } %>
				<% if (post.nova_agenda_place) { %><li class="nova_agenda_place"><%= post.nova_agenda_place %></li><% } %>
			</ul>
        </div>

    </div>
            
    <div id="single-content" class="single-content">

            <%= post.content %>
			
	</div>	

    <div id="widget-latest-posts" class="widget-latest-posts">
        
        <div class="widget-title">
            Ces événements peuvent aussi vous intéresser
        </div>
        
        <% _.each( lastPosts, function( lastPost ){ %>

			<div class="content-item">

                <% if (post.id == lastPost.id) { %>
                    <a class="scroll-top">
                <% } else { %>
                    <a href="<%= TemplateTags.getPostLink(lastPost.id) %>">
                <% } %>

                    <% if ( lastPost.subhead ) { %>

                        <div class="subhead"><%= lastPost.subhead %></div>

                    <% } %>

					<h2><span><%= lastPost.title %></span></h2>
                        
                    <% if(  lastPost.thumbnail && lastPost.thumbnail.src && lastPost.thumbnail.src.length ){ %>

                        <img class="content-thumbnail" src="<%= lastPost.thumbnail.src %>" onerror="displayDefaultImage(this);" />

                    <% } %>	
                    
                        
				</a>
			</div>

        <% }); %>
        
    </div>
        
</div>