/*
 * common.css : general rules (applied to all templates)
 * post-list.css : archive.html specific rules
 * post-detail.css : single.html and page.html specific rules
 * post-comments.css : comments.html specific rules
 */



/*
 * List item
 */

.list-template .content-item a {
    color: #4c4c4c;
    margin: 0px;
    padding: 0;
    position: relative;
    border-bottom: 1px #e2e2e2 solid;
    display: block;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.list-template .content-item a:hover::after {
	background-color: rgba(58, 52, 42, 0);
}
.list-template .content-item a::after {
    content: "";
	background-image: linear-gradient(to bottom, rgba(76, 114, 230, 0.2) 10%, rgb(41, 62, 126) 100%);
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    display: block;
    z-index: 80;
}

.list-template h2 {
    margin: 0;
    font-size: 21px;
    line-height: 24px;
    position: absolute;
    color: #fff;
    font-family: Avenir,HelveticaNeue-Bold,sans-serif;
    bottom: 0;
    -webkit-backdrop-filter: blur(100px);
    padding: 10px;
    z-index: 100;
    width: 100%;
}

.list-template .post-meta {
	list-style:none;
	margin: 0;
	padding: 0;
}

.list-template .post-meta li {
	font-size:14px;
}

.list-template .content-thumbnail {
    width: 100%;
    height: auto;
    max-height: 250px;
    margin: 0px 0px 0px 0px;
    display: block;
    object-fit: cover;
}



/*
 * Get more button
 */

.get-more-button-wrapper {
    padding: 0px 20px 0px 20px;
}

.get-more-button {
    background-color: #168dd9;
    border-radius: 2px;
    font-size: 14px;
    border: none;
    color: #fff;
    width: 100%;
    padding: 11px 14px 11px 14px;
    margin: 20px 0px 20px 0px;
    line-height: 24px;
    font-family:HelveticaNeue-Bold,sans-serif;
}

/* Get more button spinner */
.get-more-button .spinner {
    width: 24px;
    height: 24px;
}