/*
 * common.css : general rules (applied to all templates)
 * post-list.css : archive.html specific rules
 * post-detail.css : single.html and page.html specific rules
 * post-comments.css : comments.html specific rules
 */



.comments-template {
    top: 0px;
    padding: 20px 20px 30px 20px;
}

.comment-header {
    font-family: HelveticaNeue-Medium, sans-serif;
    color: #333;
    font-size: 17px;
    line-height: 27px;
    margin: 0px;
}

.comment-header .light-text {
    color: #a1a1a1;
    font-weight: normal;
}

.comment-author {
    padding: 0px 10px 0px 0px;
    border-right: 1px #e7e7e7 solid;
}

.comment-date {
    padding: 0px 0px 0px 8px;
}

.comment-item {
    font-family: Georgia, serif;
    color: #4c4c4c;
    font-size: 17px;
    line-height: 27px;
    margin: 0px 0px 20px 0px;
}

.comment-content strong {
    font-weight: bold;
}

.comment-content em {
    font-style: italic;
}

.comment-content a:link, .comment-content a:visited {
    color: #168dd9;
}

.by {
    display: inline-block;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: 10px;
}

.reply-icon {
    background-image: url(../img/reply-icon.svg);
    background-position: 0px 6px;
    background-repeat: no-repeat;
}